torch==2.0.1
gpytorch==1.11.0
botorch==0.10.0
pymoo==0.5.0
cvxpy
scikit-learn
scipy
oyaml
gpy
jupyter
matplotlib
numpy
pandas
seaborn
jupyter
pytest
pytest-cov
flake8
flake8-print
pydocstyle
black
bandit

-r docs/requirements.txt
